/* index.html styles 
=======================*/
body {
    background-image: linear-gradient(#e8f5e9, #c8e6c9, #a5d6a7);
}

/* Page header styles 
=======================*/
header {
    font-family: 'Special Elite', cursive;
    font-size: 3em;
    text-align: center;
    margin-bottom: 0;
    border: none;
}

.intro {
    text-align: center;
}

.intro h2 {
    font-size: 2em;
    text-decoration: underline;
}

.intro h3 {
    font-size: 1.5em;
}

.quote {
    font-family: 'Lucida Grande', sans-serif;
    font-size: 1.25em;
    text-align: center;
}

.error {
    color: red;
}

/* Warning box styles 
====================== */
.warning {
    border: 2px solid black;
    border-radius: 25px;
    text-align: center;
    width: 20em;
    margin: auto;
}

.erroricon {
    font-size: 48px;
}

.safety {
    font-size: 1.5em;
}

/* Air quality section styles
============================== */
#airquality {
    font-style: italic;
    text-align: center;
}

.air-header, .weather-header{
    font-weight: bolder;
}

#weather-forcast, #airquality{
    color: #fff;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    font-size: 25px;
}

#returninfo {
    color: rgb(116, 28, 28);
}

/* Footer and comments styles
=============================== */
#footer {
    text-align: center;
    align-content: center;
}

#comments {
    border: white 2px solid;
}


.btn{
    font-size: 20px;
    font-weight: bold;
    border: 2px solid transparent; 
}

.btn:hover{
    cursor: pointer;
    color: yellow;
    transform: translateY(-5px);
    border: 2px solid lightblue;
    transition: 0.2s;
}

.form{
    color: #fff;
    font-weight: bolder
}


/* act.html styles 
======================*/
.textwhite {
    color: white;
}

.cardurl {
    color: white;
}

.time {
    display: block;
}

.container {
    width: 85%;
}

.recommended {
    font-size: 1.5em;
}

.border {
    border: 3px solid black;
    border-radius: 8px;
}

.collection-item:hover {
    transform: translateX(-10px);
}

#contacts, #gen-info, #sun-info, #directions{
    padding-bottom: auto;
}
            
.sunrise, .sunset, .day-length{
    font-weight: bold;
}
