/* index.html styles */
body {
    background-image: linear-gradient(#e8f5e9, #c8e6c9, #a5d6a7);
}

.nav-title {
    font-family: 'Special Elite', cursive;
}

.quote {
    font-family: 'Lucida Grande', sans-serif;
    font-size: 1.25em;
    text-align: center;
}

.error {
    color: red;
}

.warning {
    border: 2px solid black;
    border-radius: 25px;
    text-align: center;
    width: 20em;
    margin: auto;
}

.erroricon {
    font-size: 48px;
}

.safety {
    font-size: 1.5em;
}

#airquality {
    font-style: italic;
    background-color: rgb(118, 230, 230);
    text-align: center;
}

.info {
    padding-left: 10px;
    justify-content: center;
}

.air-header, .weather-header{
    font-weight: bolder;
}

#weather-forcast, #airquality{
    font-weight: bold;
    font-style: italic;
    background-color: rgb(118, 230, 230);
    text-align: center;
}

.city {
    font-size: 20px;
    font-weight: bold;
}

#footer{
    text-align: center;
    align-content: center;
}
.sunrise, .sunset, .day-length{
    font-weight: bold;
}

/* act.html styles */
